<%- include('../header') %>

    <h1>This user was not found, maybe the account was deleted or an error occured</h1>

    <a href="/"><button class="btn btn-info">Return to the main page</button></a>


<%- include('../footer') %>